on:
  pull_request:
    branches:
      - 'master'
  push:
    branches:
      - '*ssignment*'
jobs:
  run_gtest_suite:
    name: Google Tests
    runs-on: ubuntu-latest

    container:
      image: ghcr.io/go56fup/molsim-ws25-groupc
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    
    steps:
      - uses: actions/checkout@v4

      - name: Run test suite with GCC
        run: cmake --workflow --preset test-lite

      - name: Check formatting
        run: |
          clang-format --dry-run --Werror src/*.cpp include/**/*.hpp && \
          cmake-format --check **/CMakeLists.txt cmake/modules/*.cmake

